<!-- cocktails/id/doses/new -->
<div style="max-width: 700px; margin: 0 auto;">

  <div class="container">
    <div class="row">
      <div class="col-xs-6">

        <h3><%= @cocktail.name  %></h3>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


      </div>
    </div>
    <%= link_to "Add inredients", new_cocktail_dose_path(@cocktail) %>


  <ul>

    <% @cocktail.doses.each do |dose| %>

      <li> <%= dose.ingredient.name %>: <%= dose.description %>
        <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-danger btn-default" %>

      </li>

    <% end %>


  </ul>


  <%= link_to 'Back', cocktails_path %>


  </div>


</div>
